{% extends "layouts/page.njk" %}

{% from "screenshots/macro.njk" import appScreenshots %}

{% block content %}
  {{ appDocumentHeader({
  title: title | noOrphans,
  date: date,
  modified: modified,
  author: author,
  authors: authors
  }) }}

  {% call appProseScope() %}
    {{ content }}

    {% for collection in screenshots %}
      {{ appScreenshots(collection) }}
    {% else %}
      {{ appScreenshots(screenshots) if screenshots }}
    {% endfor %}
  {% endcall %}
{% endblock %}
