{% extends "layouts/post.njk" %}

{% from "screenshots/macro.njk" import appScreenshots %}

{% block main %}
  {{ xGovukMasthead({
    title: {
      html: title | smart
    } if title,
    description: {
      html: description | markdown("inline") | noOrphans
    } if description,
    breadcrumbs: {
      classes: "govuk-!-display-none-print govuk-!-margin-bottom-0",
      items: breadcrumbItems
    } if showBreadcrumbs
  }) }}
  

  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="app-document-header__metadata">
        <span class="govuk-visually-hidden">Posted on </span><time datetime="{{ date | date }}">{{ date | date("d LLLL y") }}</time>
        </p>
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">
    {% call appProseScope() %}
        {% if image -%}
          <figure>
            <img src="{{ image.src }}" alt="{{ image.alt }}">
            {% if image.caption -%}
            <figcaption>{{ image.caption }}</figcaption>
            {% endif -%}
          </figure>
        {%- endif %}

        {{ content }}

        {% for collection in screenshots %}
          {{ appScreenshots(collection) }}
        {% else %}
          {{ appScreenshots(screenshots) if screenshots }}
        {% endfor %}
      {% endcall %}
    </div>

    {% if aside or related %}
      <div class="govuk-grid-column-one-third-from-desktop">
        {% include "layouts/shared/related.njk" %}
      </div>
    {% endif %}

    {% if users %}
      <div class="govuk-grid-column-one-third-from-desktop">
        <h2 id="the-problem" tabindex="-1" class="govuk-heading-l">
          <a class="app-link--heading govuk-link" href="#users">
            <span>Users</span>
          </a>
        </h2>
        <ul class="govuk-list">
        {% for user in users %}
        <li>
          <strong class="govuk-tag govuk-tag--blue govuk-!-margin-1">
            {{user}}
          </strong>
        </li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
 </main>
  </div>
{% endblock %}
