@import "email/email";
@import "screenshots/screenshots";

.grid--cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 30px;
}

.card {
    // position: relative;
    display: inline-grid;
    background-color: #f3f2f1;
    border-bottom: 3px solid #012169;
    // max-width: 400px;
    :hover {
        background-color: #012169;
        color: #fff;
    }
    :hover p, :focus-within p {
        background-color: #012169;
        color: #fff;
    }
    a, .govuk-link {
        text-decoration: none;
    }
    a {
        display: flex;
        flex-direction: column;
    }
    a .card--text-header-container .govuk-heading-m {
        padding: 20px;
        margin: 0;
        background-color: #012169;
        color: #fff;
    }
}

.card-container {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    p {
        padding: 20px;
        margin: 0;
    }
}

.card--text-header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

